# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/.pytest_cache/
backend/uploads/
backend/.env

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Misc
.DS_Store
*.log
